/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
}
.wrap{
	width:70%;
	margin:0 auto;
}
.header {
/* 	margin-bottom: 8px; */
	background-color: #FFF;
	z-index: 1000;
	width: 100%;
	position: fixed;
}
.logo{
	float:left;
	padding: 8px 6px 0px 15px;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display: inline-block;
	float: left;
/* 	width: 120px; */
	background: rgb(30, 93, 173);
	color: rgb(218, 216, 216);
	border-left: 1px solid rgb(47, 75, 124);
/* 	padding: 22px 12px; */
	padding: 18px 10px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.9em;
}
.top-nav ul li.active{
	background: none repeat scroll 0 0 #133F8F;
}
.top-nav ul li:hover{
	background: none repeat scroll 0 0 #133F8F;
}
.top-nav ul li:first-child{
	border:none;
}
.top-nav ul li a{
	color: #FFF;
	font-size: 1.5em;
	font-family: 'Ropa Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
}
.top-nav ul li p{
	font-size:1em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
}
/*----content-----*/
/*---search-bar----*/
.left-content{
	width:70%;
	float:left;
	margin-top: 62px;
}
.search-left{
	float:left;
	background:#fff;
	width: 295px;
	height: 28px;
}
.search-right{
	float:right;
}
.search-left input[type="text"],.search-left input[type="submit"]{
	border:none;
	outline:none;
}
.search-left input[type="text"]{
	font-family: Arial, Helvetica, sans-serif;
/* 	font-size: 0.8em; */
	color: rgb(155, 155, 155);
}
.search-right p{
	font-size: 1em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	color: #fff;
}
.searchbar{
	background:rgb(30, 93, 173);
	padding: 12px;
}
.search-left input[type="submit"]{
	background: url(../img/search-5.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	cursor:pointer;
}
.video-share ul li{
	display:inline-block;
}
.video-share ul li img{
	padding:0px 2px;
}
.video-share {
	float:left;
}
.video-watch{
	float:right;
	padding-top: 2.5px;
}
.video-watch img{
	vertical-align:middle;
	padding: 5px 5px 7px 5px;
}
.grids{
	margin-top:14px;
}
.grids2{
	margin-top:10px;
}
.grid{
	width:30%;
	padding: 7px;
	border: 1px solid rgb(230, 230, 230);
	float:left;
}
.grid:hover{
	box-shadow: 0 1px 5px #888;
}
.grid2 {
	width: 30.326%;
}
.grid h3,.video-watch a,.grid1 h3{
	font-size: 0.89em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	overflow: hidden;
	height: 43px;
}
.grid h3{
	margin-bottom:5px;
	font-size: 0.9em;
	color: #1E5DAD;
}
.video-watch a,.lables p a{
	color:rgb(30, 93, 173);
}
.lables a{
	padding-left:4px;
}
.lables p{
	font-size: 0.89em;
	font-family: 'Ropa Sans', sans-serif;
	color: #BBBBBB;
}
.lables p a:hover{
	color:#555;
}
.grid:nth-child(2),.grid:nth-child(5),.grid:nth-child(8){
	margin:0px 14.5px;
}
/*-----right-content-----*/
.right-content{
	float:right;
	width: 29%;
	margin-top: 62px;
}
.popular h3{
	text-align:left;
	font-size: 1em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	color: #fff;
	float:left;
}
.popular p{
	float:right;
	font-size: 1em;
	font-family: 'Ropa Sans', sans-serif;
	color:#fff;
	margin-top: -1px;
}
.popular{
	background:rgb(30, 93, 173);
	padding:15.5px;
	padding: 12.4px;
}
.popular p img{
	vertical-align: text-bottom;
}
.grid1{
	border: 1px solid rgb(230, 230, 230);
	border-top:none;
	padding:10px;
}
.grid1:hover{
	box-shadow: 0 1px 5px #888;
}
/*----video1----*/
.video1 img{
	float:left;
	width:30%;
}
.video1 p{
	float:right;
	width: 67%;
}
.video1 span{
	font-size: 1em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	float:right;
	width: 67%;
	color: #1E5DAD;
}
.video1 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
}
.video1 {
	margin-top: 10px;
	border: 1px solid rgb(230, 230, 230);
	padding: 10px;
}
.video1:hover {
	box-shadow: 0 1px 5px #888;
}
.video1 img{
	cursor:pointer;
}
.Recent-Vodeos h3{
	font-size: 1em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	background: rgb(30, 93, 173);
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}
.r-all a{
	font-size: 0.9em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	color: rgb(30, 93, 173);
}
.r-all{
	float:right;
	margin-top:10px;
}
.r-all a:hover{
	color:#555;
}
.content {
	padding-bottom: 30px;
}
.time{
	position: absolute;
	bottom: 50px;
	right: 7px;
	color: #fff;
	background: rgba(85, 85, 85, 0.61);
	padding: 5px 10px;
	font-family: 'Ropa Sans', sans-serif;
}
.grid{
	position: relative;
}
.time1{
	position: absolute;
	bottom: 52px;
	right: 10px;
	color: #fff;
	background: rgba(85, 85, 85, 0.61);
	padding: 7px 16px;
	font-family: 'Ropa Sans', sans-serif;
}
.grid1{
	position: relative;
}
/*---page-not-found----*/
.error-page{
	text-align:center;
	padding-top: 116px;
}
.error-page h3,.error-page p{
	font-size:5em;
	font-family: 'Ropa Sans', sans-serif;
	color:rgb(30, 93, 173);
}
.error-page h3{
	font-size:10em;
}
/*---single-page-----*/
.inner-page {
	width: 70%;
	float: left;
	margin-top: 62px;
}
.title ul li{
	display:inline-block;
}
.title h3,.title h4{
	font-size: 1.2em;
	font-family: 'Ropa Sans', sans-serif;
	padding: 10px 0px 6px 0px;
	color:rgb(155, 155, 155);
}
.title h4{
	font-size:1em;
}
.title ul{
	padding-bottom:10px;
}
.title ul li a{
	color:rgb(155, 155, 155);
	font-family: 'Ropa Sans', sans-serif;
	font-size:0.9em;
	padding: 0px 3px;
}
.title ul li img{
	vertical-align:middle;
	margin:0px 3px;
}
.title ul li a:hover{
	color:rgb(30, 93, 173);
}
.view-links{
	float:left;
}
.view-links ul li{
	display:inline-block;
}
.views-count{
	float:right;
}
.view-links h4,.views-count p{
	color: rgb(155, 155, 155);
	font-family: 'Ropa Sans', sans-serif;
	font-size: 0.9em;
}
.views-count p span{
	color:rgb(30, 93, 173);
	font-size:1.5em;
	text-transform:uppercase;
}
.view-links ul li img{
	vertical-align: middle;
	padding: 0 5px;
}
.view-links h4{
	text-transform:uppercase;
}
.view-links ul{
	float:left;
}
.comment1 li a{
	color:#fff;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 0.9em;
}
.comment1 li a:hover,.comment1 li a span{
	color: rgb(155, 155, 155);
}
.comment1{
	margin-left:15px;
}
.comment1 li:first-child{
	background:#fff;
	padding: 2px 5px;
	background:rgb(30, 93, 173);
	color:#fff;
	border-radius: 0.3em;
	margin-right: 10px;
}
.comment1 li a span:hover{
	text-decoration:underline;
}
.video-details p,.video-details span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
}
.video-details p{
	padding:7px 0px;
}
.video-details ul{
	padding:10px 0px;
}
.video-details p a{
	color:rgb(30, 93, 173);
	font-family: 'Ropa Sans', sans-serif;
}
.other-links li a,.tags li a{
	font-size: 0.9em;
	color: rgb(30, 93, 173);
	font-family: 'Ropa Sans', sans-serif;
}
.other-links li{
	padding:2px 0;
}
.other-links li a:hover,.tags li a:hover{
	text-decoration:underline;
}
.tags ul li{
	display:inline-block;
}
.tags h3{
	color: rgb(155, 155, 155);
	font-family: 'Ropa Sans', sans-serif;
	font-size: 0.9em;
	text-transform:uppercase;
}
.other-links ul li{
	line-height:1.8em;
}
.related-videos h6{
	font-size:1em;
	font-family: 'Ropa Sans', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	color:rgb(155, 155, 155);
	padding: 15px 0px 10px 0px;
	border-bottom: 1px dashed rgb(201, 201, 201);
}
.video-inner span{
	position: absolute;
	right: -10px;
	bottom: 15px;
	background: rgba(58, 58, 58, 0.61);
	padding: 7px 20px;
	font-family: 'Ropa Sans', sans-serif;
	color: #fff;
}
.viwes {
	padding: 11px 0px;
}	
.video-inner img{
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px rgb(228, 228, 228);
}
.videoview{
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px rgb(228, 228, 228);
}
.video-inner{
	position:relative;
	width: 97.3%;
}
/*---categories----*/
/*----sidebar----*/
.content-sidebar{
	float:left;
	width: 21.6%;
	font-family: 'Ropa Sans', sans-serif;
}
.content-sidebar h4,.recent-videos h5{
	background:rgb(30, 93, 173);
	color:#fff;
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Ropa Sans', sans-serif;
}
.recent-videos h5 img{
	margin-right:3px;
}
.recent-videos h5{
	padding:9.5px 10px;
}
.content-sidebar h4 img{
	vertical-align:middle;
	padding-right:5px;
}
.content-sidebar li a{
	font-family: 'Ropa Sans', sans-serif;
	font-size: 0.89em;
	color: rgb(116, 110, 110);
		display: block;
	padding: 12px 0px;
	background: url(../img/sepHor.png) repeat-x left bottom;
	padding-left:5px;
}
.content-sidebar li a:hover{
	background: url(../img/sepHor.png) repeat-x left bottom;
	background-color:#eee;
	color:rgb(30, 93, 173);
}
/*--recent-videos--*/
.recent-videos {
	float: right;
	width: 77%;
	margin: 0px 0px 13px 0px;
}
/*---footer----*/
.box1 {
	float: left;
	width: 23%;
	margin: 0 4% 0 0;
}
.box1 h4{
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1em;
	color:#fff;
	border-bottom: 1px dashed silver;
	padding: 6px 0;
	margin-bottom: 4px;
}
.box1 ul li{
	display:inherit;
}
.box1 ul li a{
	font-family: 'Ropa Sans', sans-serif;
	font-size: 0.8em;
	color: rgb(153, 192, 241);
	line-height: 2em;
}
.box1 ul li a:hover{
	color:#fff;
}
.footer{
	padding: 10px 0px 20px 0px;
	font-family: 'Titillium Web', sans-serif;
	background: rgb(30, 93, 173);
	margin-top:10px;
	bottom: 0;
/* 	position: fixed; */
	width: 100%;
}
.social li img{
	display:inline;
	cursor:pointer;
	vertical-align: middle;
	padding-right: 10px;
	margin: 5px 0px;
	opacity: 0.8;
}
.footer1 {
	padding: 10px;
	background: #2a2a2a; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2a2a 0%, #2a2a2a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a2a), color-stop(100%,#2a2a2a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2a2a 0%,#2a2a2a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2a2a 0%,#2a2a2a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2a2a 0%,#2a2a2a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a2a2a 0%,#2a2a2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */

	border-top: 1px ridge #6B3B7A;
	font-family: 'Titillium Web', sans-serif;
	text-align:center;
}
.footer1 p.link {
	color: #eee;
	font-size: 13px;
	
}
.footer1 p.link a {
	color: #eee;
	text-decoration: none;
	font-size: 13px;
}
	/*---page-nations-----*/
		/*-----pageing----*/

ul.dc_pagination {
	font: 12px 'Tahoma';
	height: 100%;
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 21px 0px 0px 0px;
	clear: both;
}
ul.dc_pagination li:first-child {
	margin-left: 0px;
}
ul.dc_paginationA03 li a {
	background: #FFFFFF;
	border: solid 1px #DCDCDC;
	border-radius: 3px;
	color: #707070 !important;
	-moz-border-radius: 3px;
	padding: 6px 9px 6px 9px;
	-webkit-border-radius: 3px;
	color: #000000 !important;
	display: block;
	padding: 7px 10px 7px 10px;
	text-decoration: none;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1.25em;
}

ul.dc_pagination li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}
ul.dc_paginationA03 li a:hover, ul.dc_paginationA03 li a.current {
	background: rgb(30, 93, 173);
	color: #fff !important;
	
}
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	color:rgb(30, 93, 173);
	margin-bottom:0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-family: 'Ropa Sans', sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: rgb(155, 155, 155);
	padding-bottom:5px;
	font-family: 'Ropa Sans', sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			background:#fcfcfc;
			border: none;
			outline:none;
			font-family:Arial, Helvetica, sans-serif;
			box-shadow: inset 0px 0px 3px #999;
			-webkit-box-shadow: inset 0px 0px 3px #999;
			-moz-box-shadow: inset 0px 0px 3px #999;
			-o-box-shadow: inset 0px 0px 3px #999;
			-webkit-appearance:none;
			font-size: 1em;
			color: rgb(155, 155, 155);
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	background: #0160A4 url(../img/button-overlay.png) repeat-x;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	overflow: visible;
	padding: 10px 25px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	width: auto;
	text-align: center;
}
.contact-form input[type="submit"]:hover{
	background: #264284;
}
.contact-form input[type="submit"]:active{
	background: #264284;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size:0.8125em;
	color:rgb(155, 155, 155);
	line-height:1.8em;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color: rgb(30, 93, 173);
	cursor:pointer;
}
.company_address p span:hover{
	color: rgb(55, 143, 255);
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}
.copy-right {
	text-align: center;
	background: rgb(1, 48, 107);
	padding: 7px 0px;
}
.copy-right p {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1em;
	color: #fff;
	line-height: 1.5em;
}
.copy-right p a {
	color: rgb(153, 192, 241);
}
.copy-right p a:hover{
	color:#fff;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*----responsive-design----*/
@media screen and (max-width:1366px) {
	.wrap{
		width:90%;
	}
}
@media screen and (max-width:1280px) {
	.wrap{
		width:90%;
	}
}
@media screen and (max-width:1024px) {
	.wrap{
		width:90%;
	}
	.top-nav ul li:nth-child(4),.top-nav ul li:nth-child(5){
		display:none;
	}
	.grid {
		width: 29.24%;
	}
}
@media screen and (max-width:768px) {
	.wrap{
		width:90%;
	}
	.top-nav ul li {
		width: 106px;
		padding: 22px 2px;
		font-size: 0.8em;
	}
	.grid {
		width: 27.83%;
	}
	.video2{
		display:none;
	}
	.video-inner img {
		padding:6px;
	}
	.video-inner span {
		right: -6px;
		bottom: 11px;
	}
	.popular h3 {
		font-size:0.9em;
	}
}
@media screen and (max-width:640px) {
	.wrap{
		width:95%;
	}
	.top-nav ul li:nth-child(2),.lables{
		display:none;
	}
	.grid:nth-child(2), .grid:nth-child(5), .grid:nth-child(8) {
		margin: 0px 10px;
	}
	.time {
		bottom: 54px;
	}
	.box1 h4 {
		font-size:0.9em;
	}
	.time1 {
		bottom: 37px;
	}
	.popular p {
		font-size: 0.7em;
	}
	.comment1 li:first-child {
		margin-right:0px;
	}
	.view-links ul li img {
		padding:0px 3px;
	}
}
.disabled{
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.65;
	pointer-events: none;
}
.box2{
	float: left;
	margin: 0 4% 0 0;
	width: 67%;
}
/*---footer----*/
.box2 h4{
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1em;
	color:#fff;
	border-bottom: 1px dashed silver;
	padding: 6px 0;
	margin-bottom: 4px;
}
.box2 ul li{
	display:inherit;
	float: left;
	margin-right: 68px;
}
.box2 ul li a{
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1em;
	color: rgb(153, 192, 241);
	line-height: 2em;
}
.box2 ul li a:hover{
	color:#fff;
}
.box, .video-inner, .margin-left{
	margin-left: 10px;
}
/******************USER MENU***********************/
.zml {
    background-color: #FFFFFF;
    border-right: 1px solid #E5E5E5;
    box-shadow: 0 0 2px #DDDDDD;
    left: 0;
    min-height: 100%;
    position: absolute;
}
.zml, .zmr {
    width: 209px;
}
.zml {
/*     z-index: 36; */
    margin-top: 62px;
}
.zml_toparea {
    border-bottom: 1px solid #E5E5E5;
    background: none repeat scroll 0 0 #1E5DAD;
    overflow: hidden;
    padding: 6px 7px;
}
.infouser {
    overflow: hidden;
}
.profileavt {
    float: left;
    width: 36px;
}
.profileavt img {
    border: 2px solid #FFFFFF;
    height: 32px;
    transition: all 0.5s ease 0s;
    width: 32px;
}
.avt_radius, .profileavt img, .zmacc_avt img {
    border-color: #EAEAEA;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    transition: all 0.5s ease 0s;
}
.profilename {
    font-size: 15px;
    margin-left: 46px;
    min-width: 149px;
}
.profilename a {
    color: #009DDC;
    overflow: hidden;
}
.profilename a span {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}
.profilename .textname {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -3px;
    white-space: normal;
    color: #FFF;
}
.zmmenu .mhome {
    padding-bottom: 10px;
}

.zmmenu li .zmenuico {
    display: block;
}
.mblog_icn {
    background-position: 0 -96px;
}
.mphoto_icn {
    background-position: 0 -64px;
}
.mappstore_icn {
    background-position: 0 -224px;
}
.mmobileapp_icn {
    background-position: 0 -256px;
}
.zmenuico_wrapper, .zmenuico {
    height: 28px;
    width: 28px;
}
.zmmenu li a {
    display: block;
}
.zml .zmmenu li a, .zml .zmmenu li a:hover {
    border-right: 0 none;
    overflow: visible;
    width: 209px;
}
.zml .zmmenu li a:hover, .zml .zmmenu li a.selected:hover {
    background-color: #EEEEEE;
    color: #404040;
}
.zmmenu li a strong {
    font-weight: normal;
}
.zmmenu li a strong {
    color: #404040;
    display: block;
    font-weight: normal;
    line-height: 26px;
    min-height: 26px;
    min-width: 146px;
    overflow: hidden;
    padding: 6px 10px 6px 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zmmenu li .zmenuico_wrapper {
    float: left;
    margin-left: -40px;
}
.zmenuico_wrapper, .zmenuico {
    height: 28px;
    width: 28px;
}
.zmmenu li .zmenuico {
    display: block;
}
.mhome_icn {
    background-position: 0 -32px;
}
.zmenuico {
    background-image: url("../img/leftpanel_sprt-1.02.png");
    background-repeat: no-repeat;
}
.grid3{
	width: 96%;
	margin: 0 0 7px !important;
	padding: 12px !important;
}
.ficon_photo {
    background-position: -1482px 0;
}
/************** END USER MENU****************************/

/**************************** USER COVER PHOTO ************************/
.zm_pfcover, .pfbxstatus
{
	border: 1px solid #D8D8D8;
	margin-bottom: 15px;
	position: relative;
}
.pfavatar{
	left: 15px;
	position: absolute;
	top: 145px;
	z-index: 5;
}
.pfavatar .bgeditavatar{
	background: url("../img/opacity_overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 30px;
	color: #D2D2D2;
	cursor: pointer;
	display: block;
	height: 16px;;
	overflow: hidden;
	padding: 6px;
	position: absolute;
	top: 3px;
	transition: width 0.3s ease 0s;
	width: 16px;
	z-index: 9;
}
.pfavatar .avtholder{
	background-position: center center;
	background-size: 140px auto;
	border: 2px solid #FFFFFF;
	border-radius: 100%;
	box-shadow: 0 1px 0 0 #D7DBE1, 0 2px 0 0 #EAEBEC;
	display: block;
	height: 140px;
	text-indent: -99999em;
	width: 140px;
	z-index: 7;
}
.pfavatar .bgeditavatar p{
	transition: width 0.3s ease 0s;
	width: 90px;
}
.icoeditcover, .icoeditavatar{
	background-position: -96px -94px;
	float: left;
	opacity: 0.7;
}
.zmico{
	display: inline-block;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
	width: 16px;
	
}
.pfavatar .bgeditavatar span{
	float: left;
	margin-left: 3px;
}
.pfctncover{
	height: 253px;
	overflow: hidden;
	position: relative;
}
.ctneditcover{
	background: url("../img/opacity_overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
	color: #D2D2D2;
	display: block;
	padding: 3px 5px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.icoeditcover, .icoeditavatar{
	background-position: -96px -94px;
	float: left;
	opacity: 0.7;
}
.zmsprt, .cticon, .zmico, .zmico.frdadd_ico{
	background-image: url("../img/zmsprt-1.05.png");
	background-repeat: no-repeat;
}
.pfctnusername{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	bottom: 0;
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 4;
}
.pfctnusername .username{
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	margin-left: 170px;
	margin-right: 5px;
}	
.pfctnbtn{
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	padding: 10px 10px 10px 170px;
}
ul.pfmenutab {
    background: none repeat scroll 0 0 #F9F9F9;
    display: block;
    float: left;
    width: 100%;
}
ul.pfmenutab li {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
ul.pfmenutab li a.selected, ul.pfmenutab li a:hover {
/*     border-bottom: 3px solid #249CD9; */
	border-bottom: 3px solid #1E5DAD;
}
ul.pfmenutab li a {
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: #444444;
    display: block;
    height: 37px;
    line-height: 40px;
    margin-bottom: -1px;
    margin-right: 5px;
    padding: 0 10px;
}
.feed_sprt.icotabarrow.pftab {
    bottom: -4px;
    left: 42%;
}
.feed_sprt.icotabarrow {
    background-position: -128px -80px;
    bottom: -7px;
    height: 4px;
    left: 45%;
    position: absolute;
    width: 7px;
}
ul.pfmenutab li span {
    color: #888888;
    font-size: 11px;
    font-weight: normal;
}
/*****************************END USER COVER PHOTO***************/

/*************************BUTTON*******************************/
.channel-header .primary-header-actions, .channel-header-subscription-button-container{
	float: right;
}
.yt-uix-button-subscription-container{
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
}
.yt-uix-button-subscribe-branded.yt-is-buffered, .yt-uix-button-subscribe-branded:active, .yt-uix-button-subscribe-branded.yt-uix-button-toggled, .yt-uix-button-subscribe-branded.yt-uix-button-active, .yt-uix-button-subscribed-branded.external, .yt-uix-button-subscribed-branded.external[disabled], .yt-uix-button-subscribed-branded.external:active, .yt-uix-button-subscribed-branded.external.yt-uix-button-toggled, .yt-uix-button-subscribed-branded.external.yt-uix-button-active{
	background-color: #1E5DAD;
	color: #FFF;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;	
}
.yt-uix-button{
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	font-size:inline-block;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 28px;
	line-height: normal;
	outline: 0 none;
	padding: 0 10px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: normal;
}
.yt-uix-button-icon-wrapper{
	display: inline-block;
	font-size: 0;
	margin-right: 6px;
	vertical-align: middle;
}
.yt-uix-button-subscribe-branded .yt-uix-button-icon-subscribe{
	background: url("//s.ytimg.com/yts/imgbin/www-hitchhiker-vflxp8IfR.png") no-repeat scroll 0 -436px rgba(0, 0, 0, 0);
	height: 12px;
	width: 16px;
}
.yt-uix-button .yt-uix-button-icon, .yt-uix-button .yt-uix-button-arrow{
	display: inline-block;
	vertical-align: middle;
}
.yt-uix-button img, .yt-uix-button-icon-wrapper + .yt-uix-button-content{
	vertical-align: middle;
}
.yt-uix-button-subscribe-branded .yt-uix-button-content, .yt-uix-button-subscribed-branded .yt-uix-button-content{
	font-size: 12px;
	font-weight: normal;
}
.yt-uix-button-subscribe-branded .yt-uix-button-content, .yt-uix-button-subscribed-branded .yt-uix-button-content, .yt-uix-button-subscribe-unbranded .yt-uix-button-content, .yt-uix-button-subscribed-unbranded .yt-uix-button-content{
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.yt-uix-button img, .yt-uix-button-icon-wrapper + .yt-uix-button-content{
	vertical-align: middle;
}
.yt-uix-button-subscribe-branded .subscribe-label, .yt-uix-button-subscribe-branded .unavailable-label, .yt-uix-button-subscribed-branded .subscribed-label, .yt-uix-button-subscribed-branded.hover-enabled:hover .unsubscribe-label, .yt-uix-button-subscribe-unbranded .subscribe-label, .yt-uix-button-subscribe-unbranded .unavailable-label, .yt-uix-button-subscribed-unbranded .subscribed-label, .yt-uix-button-subscribed-unbranded.hover-enabled:hover .unsubscribe-label{
	display: inline;
}
.subscribe-label, .subscribed-label, .unsubscribe-label, .unavailable-label, .yt-uix-button-subscribed-branded.hover-enabled:hover .subscribed-label, .yt-uix-button-subscribed-unbranded.hover-enabled:hover .subscribed-label{
	box-sizing: border-box;
	display: none;
}
.yt-uix-button-default, .yt-uix-button-default[disabled], .yt-uix-button-default[disabled]:hover, .yt-uix-button-default[disabled]:active, .yt-uix-button-default[disabled]:focus{
	background: none repeat scroll 0 0 #F8F8F8;
	border-color: #D3D3D3;
	color: #333;
}
.yt-subscription-button-subscriber-count-branded-horizontal:before{
	border-color: rgba(0, 0, 0, 0) #CCCCCC;
	margin-top: 2px;
}
.yt-subscription-button-subscriber-count-branded-horizontal:before{
	border-style: solid;
	border-width: 6px 6px 6px 0;
	content: "";
	left: -6px;
	position: absolute;
	top: 3px;
}
.yt-subscription-button-subscriber-count-branded-horizontal:after{
	margin-top: 2px;
}
.yt-subscription-button-subscriber-count-branded-horizontal:after{
	border-color: rgba(0, 0, 0, 0) #FAFAFA;
	border-style: solid;
	border-width: 	5px 5px 5px 0;
	content: -5px;
	position: absolute;
	top: 4px;
}
.yt-subscription-button-subscriber-count-branded-horizontal, .yt-subscription-button-subscriber-count-branded-vertical{
	border: 1px solid #CCCCCC;
	color: #777777;
	font-size: 11px;
	height: 22px;
	line-height: 22px;
	padding: 4px 6px;
	text-align: center;
	border-radius: 5px;
}
.yt-subscription-button-subscriber-count-branded-horizontal, .yt-subscription-button-subscriber-count-unbranded-horizontal{
	background-color: #FAFAFA;
	border-radius: 2px;
	margin-left: 6px;
	position: relative;
	vertical-align: middle;
}

/*************************END BUTTON*******************************/